html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.web {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #dfc2f2;
  background-image: linear-gradient(135deg, #ce9ffc 10%, #7367f0 100%);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
  background-color: white;
}
.rating {

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  padding: 0;
}
svg {
  width: 15px;
}
.right {
  padding: 0%;
  width: 60%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  margin: 20px;
}
q {
    margin: 3px;
    color: #7d7d7d;
    font-family: 'Farsan', cursive;
    font-size: 0.8rem;
    font-weight: 100;
    text-align: center;
}
button {
  margin: 10px;
  position: relative;
  background: #49c608;
  border: none;
  height: 30px;
  width: 120px;
  border-radius: 5px;
  padding: 0%;
  bottom: 0px;
  transition: bottom 0.5s;
  display: flex;
  align-self: center;
}
.button {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 7px;
  box-sizing: border-box;
  padding: 0%;
  
}
.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
  border-radius: 5px 0 0 5px;
  width: 50px;
  height: 30px;
  position: relative;
  overflow: hidden;

}
.svg {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  height: 30px;
  width: 50px;

  left: -40px;
  z-index: 2;
  background-color: black;
  box-sizing: border-box;
}
.h2 {
  position: absolute;
  background-color: black;
  height: 30px;
  width: 50px;
  left: 0px;
 text-align: center;
  transition: left 0.5s;
}
.button > h2 {
  margin: 0;
  padding-right: 10px;
}
.button:hover > .cart > .svg {
  position: absolute;
  left: 0px;
  transition: left 0.5s;
}
.button:hover > .cart > .h2 {
  position: absolute;
  left: -40px;
  transition: left 0.5s;
}
button:hover {
  position: relative;
  bottom: 3px;
  transition: bottom 0.5s;
}
h1 {
    margin-bottom: 0;
  font-family: "Farsan";
  font-size: 2 rem;
  font-weight: 300;
  color: #000000;
}
.button > h2 {
    font-family: 'Farsan', cursive;
  font-size: 1.5 rem;
  font-weight: 600;
  color: #ffffff;
  margin-left:6px ;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  flex-direction: column;
  color: white;
  height:100%;
  width: 100%;
  position: absolute;
  top:0;
  z-index: 1;
  font-family: 'Farsan', cursive;
  background-color: rgba(0, 0, 0, 0.9);
  right: 300px;
  transition: right 0.5s;
  line-height: 1.9;
 text-align: left;
 font-size: 0.9rem;
}
.right:hover >.dis{
   right: 0px;
   transition: right 0.5s;
}
.right:hover > img {
    position: absolute;
    transform: scale(1.1);
    transition: transform 0.5s;
    overflow: hidden;
}

li:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease; 
}

